<aside class="sidebar">
  <div class="sidebar-header">
    <div class="logo">
      <mat-icon color="primary">rocket_launch</mat-icon>
      <span *ngIf="!isCollapsed">Enterprise</span>
    </div>
  </div>

  <mat-nav-list>
    <a mat-list-item 
       *ngFor="let item of filteredMenuItems" 
       [routerLink]="item.route" 
       routerLinkActive="active-link"
       [matTooltip]="isCollapsed ? item.label : ''"
       matTooltipPosition="right">
      <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
      <span *ngIf="!isCollapsed" matListItemTitle>{{ item.label }}</span>
    </a>
  </mat-nav-list>
</aside>
